<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= projectName %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <style>
      * {font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;}
      body {margin: 50px}
      ul {margin: 30px}
      li {margin: 10px;}
    </style>
  </head>
  <body>

  <h1><%= projectName %></h1>

  <h2>Contents</h2>

  <ul>
  </ul>

  </body>
</html>
